.header {
	height: 3rem;
	background-color: $background-header;
	margin: 1.5rem auto 3.5rem;
	display: flex;
	justify-content: flex-end;

	&__cart {
		display: flex;
		align-self: center;
		max-width: 134rem;
		width: 110rem;
		margin: 0 auto;
		justify-content: flex-end;

		@media only screen and (max-width: $bp-large) {
			width: 90rem;
		}

		@media only screen and (max-width: $bp-medium) {
			width: 70rem;
		}

		@media only screen and (max-width: $bp-small) {
			width: 50rem;
		}

		@media only screen and (max-width: $bp-small-2) {
			width: 35rem;
		}

		&__link {
			text-decoration: none;
			color: $font-light-grey;
			height: 3.2rem;
			width: 10rem;
			text-align: center;
			line-height: 3;

			//@media only screen and (max-width: $bp-medium) {
			//	padding: 0.8rem 1.3rem;
			//	line-height: 2;
			//}
			//
			//@media only screen and (max-width: $bp-small) {
			//	padding: 0.6rem 1.3rem;
			//}

			@media only screen and (max-width: $bp-small-5) {
				height: 3.3rem;
			}

			&--text {
				@media only screen and (max-width: $bp-small) {
					display: none;
				}
			}

			&--icon {
				width: 1.5rem;
				height: 1.5rem;
				margin: 0 5px;
				display: none;

				@media only screen and (max-width: $bp-small) {
					display: inline-block;
				}
			}

			&--count {
				color: $font-light-grey;

				@media only screen and (max-width: $bp-small) {
					font-size: 1.3rem;
				}
			}

			&:hover {
				background-color: $color-white;
				border: 1px solid $font-light-grey-2;
				border-bottom: none;
				z-index: 100;

				& + .header__cart__cartContent {
					display: block;
				}
			}
		}


		&__cartContent {
			display: none;
			width: 30rem;
			border: 1px solid $font-light-grey-2;
			background-color: $color-white;
			position: absolute;
			top: 4.5rem;
			background-position: top;

			&__item {
				margin: 2rem 2rem 3.5rem 2rem;
				display: flex;

				&--hidden {
					display: none;
				}

				&--img {
					height: 12rem;
				}
				&__parameters {
					font-size: 1.2rem;
					margin-left: 1.5rem;
					&--header {
						font-weight: normal;
						font-size: 1.3rem;
						margin-bottom: 0.8rem;
					}

					&--price {
						font-weight: bold;
					}

					&--size {
						margin: 1rem 0;
					}
				}

			}
		}
	}
}